@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap');
:root{
    --primary: rgb(50, 196, 215);
    --light : #EEEEEE;
    --dark : #212121;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1.sull {
    display: inline-block;
    position: relative;
    font-family: 'Euphoria Script', cursive;
    margin-right: auto;
    color: var(--light);
    font-size: 2rem;
    overflow: hidden;
    padding: 2px;
}

.sull:after {
    content: '';
    width: 20%;
    height: 100%;
    position: absolute;
    left: auto;
    top: 0;
    bottom: 0;
    right: -20%;
    background-image: 
      linear-gradient(135deg, 
        rgba(50, 196, 215, 0.4),
        var(--primary),
        rgba(50, 196, 215, 0.4)
      );
  }
  .sull:hover::after {
    transition: all .4s ease-out;
    right: 100%;
  }

.container{
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}

.hamburger{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;

    transition: 0.4s;
}

.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active:hover span {
    background-color: var(--primary);
}

.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a{
    color: #fff;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a:hover{
    transition: 0.5s;
    color: var(--primary);
}

#hero {
    height: 100vh;
    width: 100%;
    background-color:var(--dark);
    color: var(--light);
    font-size: 2rem;
}
#hero h1, h2{
    padding-top: 20vh;
    font-weight: 200;
    opacity: 0;
    animation-name: slide-fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#hero h2 {
    padding-top: 2vh;
    animation-delay: 1s;
    font-style: italic;
}

#hero .line {
    display: block;
    width: 21vw;
    height: 1px;
    position: relative;
    background-color: var(--primary);
    border-radius: 2px;
    margin-top: 2vh;
    animation-name: slide-fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    padding: 2px;
}

#hero h2 .bracket {
    color: var(--primary);
}

#hero p {
    margin-top: 5vh;
    color: var(--light);
    opacity: 0;
    animation-name: slide-fade;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.pic-wrap {
    border-radius: 500px;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 25vh;
    margin-right: 2vw;
    opacity: 0;
    background: black;
    overflow: hidden;
    animation-name: slide-fade-from-right;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.pic-wrap img {
    border-radius: 500px;
    object-fit: cover;
    opacity: 0.5;
}
#hero {
    display: flex;
}
.blue {
    color: var(--primary);
}
#hero .cv-btn{
    display: block;
    text-transform: uppercase;
    border: solid;
    border-radius: 6px;
    padding: 1rem 2rem;
    border-color: var(--primary);
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    background: transparent;
    color: var(--primary);
    opacity: 0;
    animation-name: slide-fade;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transition: 0.5s;
}
#hero .cv-btn:hover {
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
}

.mobile_nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    z-index: 98;
    background-color: var(--dark);
    padding-top: 120px;
    transition: 0.4s;
}

.mobile_nav a {
   display: block;
   margin: 0 auto 16px;
   text-align: center; 
   width: fit-content;
   padding: 12px 16px;
   color: var(--light);
   text-decoration: none;
}

.mobile_nav.is-active{
    left: 0;
}

a{
    transform: scale(2, 2);
}


@keyframes slide-fade {
    100% {
        margin-left: 5vw;
        opacity: 1;
    }

}
@keyframes slide-fade-from-right {
    100% {
        margin-right: 10vw;
        opacity: 1;
    }
}
@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }
   /*effect-underline*/
    .effect-underline::before {
        content: '';
        position: absolute;
        display: inline-block;
        height: 1em;
        width: 50px;
        border-bottom: 1px solid;
        margin-top: 10px;
        opacity: 0;
        transition: opacity 0.35s, transform 0.35s;
    }

    .effect-underline.forty::before {
        width: 40px;
    }
  
    .effect-underline:hover::before {
      opacity: 1;
      transform: translateX(5vw);
    }

    .invert {
    transition: .4s ease-in-out;
    }

    .invert:hover {
    color: var(--primary);
    letter-spacing: 5px;
    }

    .dev h1 {
        display: flex;
    }

    .dev h1 span {
        transition: 0.5s;
    }

    .dev h1 span:hover {
        transform: translateY(-10px);
        color: var(--primary);
    }
  
}

@media (max-width: 768px) {
    #hero .line {
        width: 80vw;;
    }
    #hero h1 {
        padding-top: 15vh;
    }
    .pic-wrap {
        display: none;
    }

    p {
        font-size: 1.5rem;
    }

    #hero .line {
        width: 90vw;
    }


}